<head>
    <h1>Please Update Bank Info</h1>
</head>

<body id='bank_edit_form'>
    <%= form_for @bank do |f|  %>
    <%= f.label :bank_name, 'Name of the Bank: ' %>
    <%= f.text_field :bank_name %>
    <br>
    <%= f.label :bank_location, 'Location: ' %>
    <%= f.text_field :bank_location %>
    <br>
    <%= f.label :staff_count, 'Staff Count: ' %>
    <%= f.text_field :staff_count %>
    <br>
    <%= f.label :year_founded, 'Founded year: ' %>
    <%= f.text_field :year_founded %>
    <br>
    <%= f.submit 'Update' %>
    <% end %>
    
</body>